.container {
    background: #eee5e5;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* https://getcssscan.com/css-box-shadow-examples */
  }
  
  .title-container {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  
  .title-name {
    font-family: 'Pacifico', cursive;
    padding-left: 10px;
  }
  
  .title-logo {
    width: 45px;
  }
  
  .nav-items {
    list-style: none;
    font-size: 20px;
    display: flex;
  }
  
  .nav-item {
    padding: 10px 15px;
  }
  