.card-container {
    width: 350px;
    overflow: hidden;
    height: 660px;
    text-align: center;
    transition: all 0.07s;
    border-radius: 25px;
    /* Option 1*/
    background: #ebcc9b;
    /* Option 2*/
    /* background: #6e8894; */

    /* outline: solid 0.3rem #252323; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
    /* animation-duration: 1s; */
 
  }
  .card-container:hover {
    transform: scale(1.05, 1.05);
  }
  .card-img-container {
    padding-bottom: 40px;

  }
  .card-img{
  width: 350px;
  /* transform: scale(1.05, 1.05); */
  }

  .name {
    height: 80px;
    /* text-align: center; */
  }
  .details {
    font-size: 1.4rem;
    height: 115px;
    text-align: center;
    padding: 0px 10px 0px 10px;
  }
  .item-name {
    font-family: 'Pacifico', cursive;
    text-align: center;
  }
  .paying {
    text-align: center;
  }
  .add {
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    font-family: "VT323", monospace;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
    /* Option 1 */
    
    background: #f45867;
    border: solid #f45867 2px;
    
    /* Option 2 */
    /* background: #a26769;
    border: solid #a26769 2px;
     */
  }
  
  @media only screen and (max-width: 500px) {
    .card-container {
      width: 320px;
      height: 630px;
    }
    .card-container:hover {
      transform: scale(1, 1);
    }
    .card-img-container {
      padding-bottom: 30px;
  
    }
    .card-img{
    width: 320px;
    }
    .name {
      height: 80px;
    }
    .details {
      font-size: 1.4rem;
      height: 115px;
      text-align: center;
      padding: 0px 15px 0px 15px;
    }
  
  
 
  }


  @media only screen and (max-width: 400px) {
    .card-container {
      width: 300px;
      height: 610px;
    }
    .card-container:hover {
      transform: scale(1, 1);
    }
    .card-img-container {
      padding-bottom: 20px;
  
    }
    .card-img{
    width: 320px;
    }
    .name {
      height: 70px;
    }
    .details {
      font-size: 1.3rem;
      height: 115px;
      text-align: center;
      padding: 0px 15px 0px 15px;
    }
    .add {
      font-size: 18px;
    }
  }

